{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Cozinha em chamas
{% endblock titulo %}

{% block conteudo %}
    <!--Imagens passando na página inicial-->
    <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class=" image-fluid d-block w-100" src={% static 'images/slide1.jpg' %}  alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Asasdfasdfasdfasdf.</h5>
                    <p>asdfasdfASFASDFASDFASDFASDFASDF</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src={% static 'images/slide2.jpg' %} alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src={% static 'images/slide3.jpg' %}  alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!--Corpo da pagina home-->
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck">
                {% for postagem in postagens %}
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="text-body">{{postagem.titulo}}</a></h5>
                            <p class="card-text">{{postagem.descricao}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{postagem.data}}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock conteudo %}