{% extends 'base.html' %}

{% block titulo %}
    Cozinha em chamas - {{postagem.titulo}}
{% endblock titulo %}

{% block conteudo %}
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col mb-3">
                <strong><h1>{{postagem.titulo}}</h1></strong>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <h6 class="text-muted">{{postagem.descricao}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <img class="img-fluid" src={{postagem.imagem.url}}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{postagem.texto | safe}}
            </div>
        </div>
        <div class="text-right mt-3 mb-3">
            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalComentar">Comentar</button>
            {% if comentarios %}
                <button type="button" class="btn btn-secondary btn-md" data-toggle="collapse" data-target="#collapseComentarios">Todos os comentários</button>
            {% endif %}
        <div>
    </div>

    <!-- Modal para formulario de enviar comentarios -->
    <div class="modal fade" id="modalComentar" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalLongoExemplo">Comentar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="comentar/">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" maxlength="120" class="form-control" name="nome" placeholder="Nome" required>
                        </div>
                        <div class="form-group text-center">
                            <textarea type="text" maxlength="255" rows="5" class="form-control" name="comentario" placeholder="Comentário" required></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label class="text-center" for="nota">Nota</label>
                            <input type="range" class="custom-range" min="0" max="5" step="1" id="notaRange" oninput="display.value=value" onchange="display.value=value">
                            <input class="form-control" type="text" id="display" value="4" name="nota" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Comentar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if comentarios  %}
        <div class="modal fade" id="modalComentarios" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Comentários</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if comentarios %}
        {% for comentario in comentarios %}
            <div class="collapse mt-3 text-left" id="collapseComentarios">
                <div class="card card-body">
                    <h5 class="card-title">{{comentario.nome}}</h5>
                    <p>{{comentario.texto}}</p>
                    <small class="text-muted">{{comentario.data}}</small>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    

{% endblock conteudo %}