{% extends 'base.html' %}

{% block titulo %}
    {{postagem.titulo}}
{% endblock titulo %}

{% block conteudo %}
    <div class="container mt-4 mb-4">
        <div class="row">
            <h3>{{postagem.titulo}}</h3>
        </div>
        <div class="row">
            <h6 class="text-muted">{{postagem.descricao}}</h6>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src={{postagem.imagem.url}}>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{postagem.texto | safe}}
            </div>
        </div>
        <div class="text-right mt-2">
            <button type="button" class="btn btn-info  btn-md" data-toggle="modal" data-target="#modal">Comentar</button>
            <button type="button" class="btn btn-secondary  btn-md">Todos os comentários</button>
        <div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalLongoExemplo">Comentar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="comentar/">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" maxlength="120" class="form-control" name="nome" placeholder="Nome" required>
                        </div>
                        <div class="form-group text-center">
                            <textarea type="text" maxlength="255" rows="5" class="form-control" name="comentario" placeholder="Comentário" required></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label class="text-center" for="nota">Nota</label>
                            <input type="range" class="custom-range" min="0" max="5" step="1" id="notaRange" oninput="display.value=value" onchange="display.value=value">
                            <input class="form-control" type="text" id="display" value="4" name="nota" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Comentar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock conteudo %}