{% extends 'base.html' %}

{% block titulo %}
Sobre
{% endblock titulo %}

{% block conteudo %}
<div class="container mt-3 shadow mt-5">
    <div class="row p-5">
        <div class="col">
            <h5><p>Olá, meu nome é Emília, tenho 18 anos.</p>
            <p>Criei o blog para compartilhar receitas práticas e cheias de história.</p>
            <p>Aqui mostrarei um pouquinho de tudo, doces, massas, comidas veganas, vegetarianas, fit e tudo fácil de fazer em casa.</p>
            O blog também terá dicas de como aprimorar o seu conhecimento na cozinha e informações preciosas sobre a culinária
            regional e mundial.</p></h5>
        </div>
    </div>
</div>
{% endblock conteudo %}